.spanContainer {
  gap: 8px;
  display: flex;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.spanContainer.primary {
  border: 1px solid $accent-color;
  color: $accent-color;
  background: rgba($accent-color, 0.1);
}

.spanContainer.secondary {
  color: $secondary-color;
  background: $secondary-background-color;
}

.spanContainer.valid {
  background: rgba($green-color, 0.1);
  color: $green-color;
}

.spanContainer.lock {
  border: 1px solid rgba($lock-color, 0.7);
  background: rgba($lock-color, 0.2);
}

.spanContainer.yellow {
  background: rgba($main-orange, 0.1);
  color: $main-orange;
}
.spanContainer.neutral {
  background: rgba($secondary-background-color, 0.1);
  border: 1px solid $border-color;
  color: $primary-font;
}

.spanContainer.transparent {
  background: transparent;
  border: none;
}
