// HelpMeWith.scss

.helpMeWith {
  position: relative;
  background: transparent;
  border: none;
  padding: 0;
  cursor: help;
  display: flex;
  align-items: center;
  height: 14px;
  width: 14px;
  @include helpMeWith();
}

.helpMeWithTooltip {
  @include elevation2($radius-medium);
  @include helpMeWithTooltip();
  position: absolute;
  padding: 0.5em;
  border-radius: 0.5em;
  font-size: 0.75em;
  white-space: normal;
  width: 200px;
  word-wrap: break-word;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  /* Fade in on mount */
  opacity: 1;

  &::before {
    content: "";
    position: absolute;
    top: -0.5em;
    left: var(--arrow-left);
    transform: translateX(-50%) rotate(180deg);
    width: 0;
    height: 0;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-top: 0.5em solid $light-color;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
}
