.tableFilter {
  padding: 10px;
  border: 1px solid #ccc;
  height: 100%;
  width: max-content;
  min-width: 200px;
  max-width: 250px;
  gap: 10px;
  .selectedFilters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;

    .selectedFilter {
      background-color: #e0e0e0;
      padding: 5px 5px 5px 8px;
      display: flex;
      align-items: center;
      border-radius: 4px;
      font-size: 13px;

      span {
        margin-right: 2px;
      }

      .clearFilterButton {
        color: #ff4d4d;
      }
    }

    .clearAllButton {
      font-size: 13px;
    }
  }

  .filterOptions {
    display: flex;
    flex-direction: column;
    gap: 3px;

    max-height: calc(9 * 19.5px);
    overflow-y: auto;

    .filterOption {
      display: flex;
      align-items: center;
      height: 19.5px;

      .optionLabel {
        font-size: 13px;
      }
    }
  }

  .filterGroup {
    h4 {
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: bold;
    }
  }

  .minMaxFilter {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
