.artistsPage {
  padding: $padding-xl $padding-md;
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $padding-lg;

  .header {
    text-align: center;

    h1 {
      font-size: clamp(2rem, 3vw, 2.75rem);
      margin: 0 0 $padding-xs;
    }

    p {
      margin: 0;
      color: $secondary-font;
    }
  }

  @include maxScreen($breakpoint-md-3) {
    padding: $padding-lg $padding-sm;
  }
}
