.artistsPage {
  display: flex;
  flex-direction: column;
  gap: $section-gap;

  .header {
    text-align: center;

    h1 {
      font-size: clamp(2rem, 3vw, 2.75rem);
      margin: 0 0 $padding-xs;
    }

    p {
      margin: 0;
      color: $secondary-font;
    }
  }
}
