.tooltip {
  margin-left: auto;
  .tooltipTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    gap: 5px;
    border-radius: 5px;
    cursor: pointer;

    @include maxScreen($breakpoint-md-4) {
      font-size: 12px;
      line-height: 15px;
    }
  }
}

.tooltipContent {
  z-index: 140;
  position: absolute;
  margin: 0px;
}
