// FONTS
$default-font-family: "Inter", Arial, sans-serif;
$switzer-font-family: "Inter", Arial, sans-serif;

// COLORS
$primary-color: #0d162d;
$secondary-color: #0c90ff;
$tertiary-color: #060d22;
$quaternary-color: #0d2242;
$accent-color: $secondary-color; // Main accent — override if needed

// BACKGROUND
$primary-background-color: #0d162d;
$secondary-background-color: rgba(12, 144, 255, 0.1);
$scrollbar-background-color: #b4bac8;
$light-color: #f3f6fb;
$light-white: #fff;

$black: #000;

// FONTS
$primary-font: #f3f6fb;
$secondary-font: #7184c1;
$tertiary-font: #9ba3b6;

// BORDER
$border-color: rgba(12, 144, 255, 0.5);

// ALERTS
$lock-color: #f25050;
$green-color: #38c769;
$main-orange: #ff8e00;

// RADIUS
$radius-extra-small: 3px;
$radius-small: 5px;
$radius-medium-small: 6px;
$radius-medium: 10px;
$radius-large: 15px;
$radius-extra-large: 20px;
$radius-extra-large-2: 25px;

// SPACING

$padding-xxxs: 4px;
$padding-xxs: 7px;
$padding-xs: 10px;
$padding-sm: 14px;
$padding-md: 20px;
$padding-md-2: 25px;
$padding-lg: 30px;
$padding-lg-2: 35px;
$padding-xl: 40px;
$padding-xl-2: 45px;
$padding-xl-3: 50px;

$link-padding-mobile: $padding-md-2;
$link-padding-mobile-2: 15px;

$margin-xxxs: 4px;
$margin-xxs: 7px;
$margin-xs: 10px;
$margin-sm: 14px;
$margin-md: 20px;
$margin-md-2: 25px;
$margin-lg: 30px;
$margin-lg-2: 35px;
$margin-xl: 40px;
$margin-xl-2: 45px;
$margin-xl-3: 50px;

// OTHER
$navbar-width: 300px;
$navbar-height-sm: 60px;
$footerHeight: 100px;

// MEDIA QUERIES
$breakpoint-xl: 2560px;
$breakpoint-lg: 1920px;
$breakpoint-lg-2: 1600px;
$breakpoint-lg-3: 1440px;
$breakpoint-lg-4: 1280px;

$breakpoint-md: 1024px;
$breakpoint-md-2: 992px;
$breakpoint-md-3: 768px;
$breakpoint-md-4: 640px;

$breakpoint-sm: 576px;
$breakpoint-xs: 393px;
