.styledButton {
  border: none;
  width: max-content;
  height: 36px;
  min-height: 36px;
  padding: 9px 18px;
  text-align: center;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
  .loaderButton {
    animation: spin 1.2s infinite linear;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

.styledButton.blue,
.styledButton.danger {
  background: $primary-button-background;
  color: $light-color;
  border-radius: 7px;
  @include text(600, 16px, 19px);
  .loaderButton {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%)
      hue-rotate(125deg) brightness(104%) contrast(106%);
  }
  &:hover {
    background: $primary-button-hover;
    color: $light-color;
  }
  &:active {
    background: $primary-button-hover;
    color: $light-color;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) inset;
  }
  &:disabled {
    color: $secondary-font;
    background-color: $primary-button-disabled;
  }
  @include styledButton;
}

.styledButton.bordered {
  background: $light-color;
  color: $primary-button-background;
  border-radius: 7px;
  border: 1px solid $primary-button-background;
  @include text(600, 16px, 19px);
  .loaderButton {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%)
      hue-rotate(125deg) brightness(104%) contrast(106%);
  }
  &:hover {
    background: $primary-button-hover;
    color: $light-color;
  }
  &:active {
    background: $primary-button-hover;
    color: $light-color;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) inset;
  }
  &:disabled {
    color: $secondary-font;
    background-color: $primary-button-disabled;
  }
  @include styledButton;
}
.styledButton.danger {
  background-color: $lock-color;
  &:hover {
    background: #f25050bf;
  }
}

.styledButton.transparent {
  background: transparent;
  color: $secondary-color;
  padding: 0;
  @include text(600, 16px, normal);
  @include styledButton;
}

.styledButton.white {
  @include elevation1(7px);
  @include text(600, 14px, 17px);
  color: $primary-font;
  width: 112px;
  height: 34px;

  padding: 1px 6px;
  transition: all 0.3s ease;
  &:hover {
    background-color: $light-color;
    color: $primary-color;
  }
  @include styledButton;
}

.styledButton.line {
  padding: 0;
  background-color: transparent;
  @include text(500, 16px, 19px);

  position: relative;
  overflow: hidden;
  color: $primary-font;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: $primary-font;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
  }

  &:hover::after {
    transform: scaleX(1);
  }
  @include styledButton;
}

.styledButton.square {
  @include elevation1(3px, $button-square-background);
  @include text(600, 14px, 17px);
  color: $primary-font;
  width: 34px;
  height: 34px;
  min-height: 34px;
  padding: 6px 6px;

  transition: all 0.3s ease;
  &.selected {
    background-color: $button-square-background-selected;
  }
  @include styledButton;
}

.styledButton.undefined {
  background-color: transparent;
  color: inherit;
  padding: 0;
}

.styledButton.bordered-animed {
  position: relative;
  overflow: hidden;
  background-color: transparent;
  color: $secondary-color;
  border: 1px solid $secondary-color;
  border-radius: 6px;
  transition:
    color 0.3s ease,
    background-color 0.3s ease;

  span,
  svg {
    position: relative;
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: $secondary-color;
    z-index: -1;
    transition: width 0.3s ease-in-out;
  }

  &:hover {
    color: $light-color;

    &::before {
      width: 100%;
    }
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}
